* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #1a1a1a;
    color: #faeeee;
    display: grid;
    place-items: center;
    min-width: 100vh;
    padding: 1.5%;
}

#inputdiv {
    background: #131313;
    border-radius: 12px;
    box-shadow: 0 8px 24px #0000002c;
    padding: 32px 40px;
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.65vh;
}

label {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
}

p {
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-align: left;
}

input[type="number"], input[type="text"] {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 13px 16px;
    border: 1px solid #424242;
    border-radius: 8px;
    transition: all 0.2s ease;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    color: white;
}

select {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 13px 16px;
    border: 1px solid #424242;
    border-radius: 8px;
    transition: all 0.2s ease;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    color: white;
}

input[type="button"] {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    background-color: #272992;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 26px;
}

input[type="number"]:focus, input[type="text"]:focus {
    outline: none;
    border-color: #3792f3;
    box-shadow: 0px 0px 4px #1231523a
}

select:focus {
    outline: none;
    border-color: #3792f3;
    box-shadow: 0px 0px 4px #c0c0c03a
}

input[type="button"]:hover {
    background-color: #3c3e9c;
}

#outputdiv {
    display: none;
    background: #131313;
    border-radius: 12px;
    box-shadow: 0 8px 24px #0000002c;
    padding: 32px 40px;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}